<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.du.anders.wifitrigger" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.du.anders.wifitrigger.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.du.anders.wifitrigger.ConfigureActivity"
            android:label="@string/app_name" >
        </activity>

        <receiver
            android:name="com.du.anders.wifitrigger.receivers.WifiReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter android:priority="100" >
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.du.anders.wifitrigger.services.MainService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>

